$gray: #888;
$danger: #ce4843;
$success: #47d26f;
$dark: hsl(234, 26, 25);
$nb-themes: nb-register-theme(
	(
		color-primary-100: $gray,
		color-primary-200: $gray,
		color-primary-300: $gray,
		color-primary-400: $gray,
		color-primary-500: $gray,
		color-primary-600: $gray,
		color-primary-700: $gray,
		color-primary-800: $gray,
		color-primary-900: $gray,
		color-info-100: $gray,
		color-info-200: $gray,
		color-info-300: $gray,
		color-info-400: $gray,
		color-info-500: $gray,
		color-info-600: $gray,
		color-info-700: $gray,
		color-info-800: $gray,
		color-info-900: $gray,
		// backgrounds
			header-background-color: #1ea44f,
		layout-background-color: #1ea44f,
		layout-window-mode-background-color: #1ea44f,
		footer-background-color: #1ea44f,
		input-background-color: #1ea44f,
		// TODO modal-bg: #1ea44f,
			chat-background-color: #1ea44f,
		actions-background-color: #1ea44f,
		search-background-color: #1ea44f,
		alert-background-color: #1ea44f,
		select-outline-background-color: #1ea44f,
		select-filled-background-color: #1ea44f,
		select-hero-background-color: #1ea44f,
		color-bg: #1ea44f,
		drops-icon-line-gadient: -webkit-linear-gradient(gray, black),
		// cards
			// TODO card-border-color: rgba(0, 0, 0, 0.125),
			// card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
			card-background-color: #1ea44f !important,
		card-header-primary-background-color: $gray,
		// card-fg-text: #888,
			// buttons
			// btn-secondary-border: $gray,
			button-outline-filled-primary-background-color: $gray,
		button-outline-filled-primary-hover-background-color: $gray,
		button-outline-filled-primary-active-background-color: $gray,
		button-outline-primary-border-color: $gray,
		button-outline-primary-hover-border-color: $gray,
		button-outline-primary-active-border-color: $gray,
		button-outline-primary-text-color: white,
		button-outline-primary-hover-text-color: white,
		button-outline-primary-active-text-color: white,
		button-filled-success-background-color: $success,
		button-filled-warning-background-color: #fee140,
		button-filled-danger-background-color: $danger,
		linear-gradient: linear-gradient(to right, red, green),
		// menu
			sidebar-background-color: #1ea44f,
		menu-background-color: transparent,
		menu-item-divider-color: transparent,
		menu-text-color: #ffffff,
		menu-submenu-background-color: #1ea44f,
		menu-submenu-text-color: white,
		menu-item-active-text-color: white,
		menu-item-active-background-color: #1ea44f,
		menu-item-icon-active-color: white,
		menu-item-icon-color: #ffffff,
		// table
			smart-table-bg-even: transparent,
		smart-table-bg-active: rgba(0, 0, 0, 0.1),
		smart-table-separator: #333,
		smart-table-paging-bg-active: rgba(100, 100, 100, 1),
		smart-table-header-bg: #1ea44f,
		smart-table-paging-border-color: #ffffff,
		// progress bar
			// progress-bar-default-bg: red,
			progress-bar-info-background-color: red,
		progress-bar-primary-background-color:
			linear-gradient(45deg, red 0%, crimson 100%),
		progress-bar-success-background-color:
			linear-gradient(45deg, red 0%, crimson 100%),
		progress-bar-warning-background-color:
			linear-gradient(45deg, red 0%, crimson 100%),
		progress-bar-danger-background-color:
			linear-gradient(45deg, red 0%, crimson 100%),
		// progress-bar-background: red,
			// progress-bar-bg-color: red,
			// text
			// TODO 	color-fg-text: #ffffff,
			// color-fg: #ffffff,
			// color-fg-highlight: white,
			text-basic-color: #ffffff,
		card-header-text-color: #ffffff,
		footer-text-color: #ffffff,
		link-color: white !important,
		// separator
			tabset-divider-color: $gray,
		route-tabset-divider-color: $gray,
		card-divider-color: transparent,
		footer-divider-color: transparent,
		actions-divider-color: $gray,
		// btn-group-separator: $gray,
			// form
			input-focus-border-color: #fff,
		input-border-color: $gray,
		// chart
			chart-panel-summary-border-color: $gray,
		// misc
			switcher-background: rgba(255, 255, 255, 0.2),
		scrollbar-fg: #fff,
		scrollbar-bg: #1ea44f,
		spinner-background-color: transparent,
		spinner-circle-filled-color: $danger,
		// tabset-tab-underline-color: $gray,
			select-primary-background-color: $gray,
		// tabs-selected-second-color: $gray,
			popover-background-color: #1ea44f !important,
		popover-border-color: white,
		user-picture-box-border-color: $gray,
		badge-success-background-color: $gray,
		tooltip-success-background-color: $gray,
		shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
		tabset-tab-text-color: white !important,
	),
	everdark,
	cosmic
);
