@import '../../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
$brand: #1ea44f;
$brand-lighted: #353748;
$brand-darken: darken($brand, 5%);
